.twibbons {
  width: 60%;
  margin: 30px auto;
  box-sizing: content-box;
}

.t-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 15px 10px;
  margin-bottom: 20px;
}

.l-lihat {
  text-align: center;
  margin-top: 30px;
}

.t-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.t-title > h3 {
  font-size: 1.7rem;
  font-weight: 600;
}

.t-title > select {
  border: 1px solid var(--gray);
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .t-title > h3 {
    font-size: 1.5rem;
  }

  .twibbons {
    width: 90%;
    margin: 30px auto;
    box-sizing: content-box;
  }

  .t-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-top: 10px;
  }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
  .t-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-top: 10px;
  }
}