.twibbons {
  margin: 2rem 20%;
  box-sizing: content-box;
}

.t-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 15px 10px;
  margin-bottom: 20px;
}

.l-lihat {
  text-align: center;
  margin-top: 30px;
}

.t-title {
  display: flex;
  justify-content: space-between;
}

.t-title > h3 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0.5rem 0.5rem;
}

.t-title > select {
  border: 1px solid var(--gray);
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}