.t-main {
    padding: 0px 20px 30px 20px;
    background-color: #f5f5f5;
}

.t-canvas {
    border-radius: 10px;
    padding: 1rem;
    width: 40%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px -1px 9px 3px rgba(69,69,69,0.28);
    -webkit-box-shadow: 0px -1px 9px 3px rgba(69,69,69,0.28);
    -moz-box-shadow: 0px -1px 9px 3px rgba(69,69,69,0.28);
}

.t-photos {
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.t-photos canvas {
    width: 100%;
}

.bt-rot {
    background-color: var(--blue);
    padding: 10px;
    color: white;
    cursor: pointer;
}

.bt-zoom {
    background-color: var(--blue);
    padding: 10px;
    color: white;
    cursor: pointer;
}

.bt-zoom:hover {
    background-color: #FFF;
    color: var(--blue);
}

.bt-rot-right {
    position:absolute;
    bottom: 0;                  
    right: 0;
}

.bt-rot-left {
    position:absolute;
    bottom: 0;
    left: 0;
}

.bt-zoom-top {
    position:absolute;
    bottom: 60px;                  
    right: 5px;
}

.bt-zoom-bottom {
    position:absolute;
    bottom: 10px;
    right: 5px;
}

.t-download {
    text-align: center;
    background-color: var(--blue);
    color: #FFF;
    font-weight: 500;
    font-size: 1rem;
    padding: 10px;
    cursor: pointer;
    border-radius: 0 0 10px 10px;
}

.t-download:hover {
    background-color: #FFCB42;
}

@media screen and (max-width: 500px) {
    .t-canvas {
        width: 100%;
    }

    .t-photos {
        width: 100%;
    }

    .t-photos canvas {
        width: 100%;
    }
}