.n-wrapper {
  padding: 0.5rem 3.5rem 0.5rem 5rem;
  height:100px;
  display:flex;
  justify-content: space-between;
  background-color: #FFF;
  box-shadow: -2px -5px 21px 0px rgba(69,69,69,0.41);
  -webkit-box-shadow: -2px -5px 21px 0px rgba(69,69,69,0.41);
  -moz-box-shadow: -2px -5px 21px 0px rgba(69,69,69,0.41);
}

.n-left {
  flex: 1;
  align-items: center;
  display: flex;
  gap: 2rem;
}

.n-name {
  font-family: 'Silkscreen', cursive;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.n-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 400;
}

.n-list > ul {
  display: flex;
  gap: 1.5rem;
  margin-right: 3rem;
}

.account-button {
  background-image: linear-gradient(140deg, #FFCB42 0%, #ffbf1c 100%);
  border-radius: 50px;
  padding: 0.4rem 0.5rem;
  color: #277BC0;
  fill: #277BC0;
  transition: transform .3s;
}

.account-button:hover {
  background: var(--blue);
  cursor: pointer;
  color: #FFF;
  box-shadow: 0px 3px 16px 3px rgba(39, 226, 255, 0.42);
  transform: scale(1.1, 1.1);
}
