@tailwind base;
@tailwind components;
@tailwind utilities;

:root
{
  --blue: #1D50A3;
  --yellow: #F5C32C;
  --orange : #FCA61F;
  --black : #242D49;
  --gray : #788097;
  --blueCard : #DDF8FE;
  --purple: rgb(238 210 255);
  --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
  --orangeCard: rgba(252, 166, 31, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App {
  overflow: hidden;
  color: (--black);
}

.button {
  font-size: 1rem;
  border-radius: 50px;
  padding: 0.4rem 1.2rem 0.4rem 1.2rem;
  color: #277BC0;
  fill: #277BC0;
  font-weight: 500;
  background-image: linear-gradient(140deg, #FFCB42 0%, #ffbf1c 100%);
  box-shadow: 0px 3px 16px 3px rgba(251, 161, 40, 0.42);
  transition: transform .3s;
}

.button:hover {
  background: var(--blue);
  cursor: pointer;
  color: #FFF;
  box-shadow: 0px 3px 16px 3px rgba(39, 226, 255, 0.42);
  transform: scale(1.1, 1.1);
}
