.delete {
  padding: 20px 20px 10px 20px;
}

.delete h4 {
  font-weight: 700;
  font-size: 1.3rem;
}

.delete p {
  color: var(--gray);
}
.p-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.btn-back {
  float: right;
  background-color: var(--gray);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 5px;
}

.btn-back:hover {
  background: #d4d4d4;
}

