.banner-campaign {
  background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url(../../img/bg_lomba_web.svg);
  background-size: cover;
  width: 100%;
  height: 50vh;
  position: relative;
}

.banner-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-info h1 {
  font-weight: bold;
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

.banner-search {
  display: flex;
  transition: .2s;
  overflow: hidden;
  border: 0 solid transparent;
  min-height: 40px;
  align-items: center;
  box-shadow: 0px 0px 10px 0px rgb(245 185 68 / 25%);
  background-color: #fff;
  border-color: #1D50A3;
  border-width: 2px 2px 2px 2px;
  border-radius: 200px;
}

.banner-search-icon {
  color: var(--gray);
  fill: #55595c;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
  padding-left: calc(50px / 3);
}

input[type=search] {
  outline: 0;
}

.banner-search form > input[type=search] {
  width: 500px;
  color: #000;
  fill: #000;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  border: 0;
  padding-left: calc(50px / 3);
  padding-right: calc(50px / 3);
  display: inline-block;
  vertical-align: middle;
  background: none;
  line-height: 1;
  min-width: 0;
  font-size: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.banner-search-input {
  flex-basis: 100%;
}

@media screen and (max-width: 500px) {
  .banner-info h1 {
    font-size: 1.5rem;
  }

  .banner-search form > input[type=search] {
    width: 300px;
  }
}

@media screen and (max-width: 330px) {
  .banner-search form > input[type=search] {
    width: 270px;
  }
}